.gradle/
/local.properties
/.idea/workspace.xml
.DS_Store
build/intermediates/dex-cache/cache.xml
local.properties
.idea
build
*.iml
*.apk
imgurviewer.jks
app/release/output.json
/app/release/**
java_pid*
.project
.classpath
org.eclipse.*
