<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imgurviewer" >

	<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		android:name="com.ensoft.imgurviewer.App">
        <activity
            android:name="com.ensoft.imgurviewer.view.activity.ImageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="imgur.com" />
				<data android:host="i.imgur.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="*" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:scheme="file" />

				<data android:pathPattern=".*\\.jpg" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*.jpg" />
				<data android:pathPattern=".*..*.jpg" />
				<data android:pathPattern=".*.jpg" />
				
				<data android:pathPattern=".*\\.png" />
				<data android:pathPattern=".*..*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*.png" />
				<data android:pathPattern=".*..*..*.png" />
				<data android:pathPattern=".*..*.png" />
				<data android:pathPattern=".*.png" />

				<data android:pathPattern=".*\\.gif" />
				<data android:pathPattern=".*..*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*.gif" />
				<data android:pathPattern=".*..*.gif" />
				<data android:pathPattern=".*.gif" />

				<data android:pathPattern=".*\\.webp" />
				<data android:pathPattern=".*..*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*.webp" />
				<data android:pathPattern=".*..*.webp" />
				<data android:pathPattern=".*.webp" />
			</intent-filter>
        </activity>
		<activity
			android:name="com.ensoft.imgurviewer.view.activity.AlbumViewer"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeNoActionBar" />
    </application>
</manifest>
