<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imgurviewer" >

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		android:name="com.ensoft.imgurviewer.App">
        <activity
            android:name="com.ensoft.imgurviewer.view.activity.ImageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeFull" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="www.imgur.com" />
				<data android:host="imgur.com" />
				<data android:host="i.imgur.com" />
				<data android:host="m.imgur.com" />

				<data android:host="reddituploads.com" />
				<data android:host="i.reddituploads.com" />

				<data android:host="streamable.com" />

				<data android:host="gyazo.com" />

				<data android:host="gfycat.com" />

				<data android:host="clips.twitch.tv" />

				<data android:host="instagram.com" />
				<data android:host="www.instagram.com" />

				<data android:host="vid.me" />

				<data android:host="v.redd.it" />

				<data android:host="streamja.com" />
				<data android:host="vimeo.com" />
				<data android:host="player.vimeo.com" />

				<data android:host="clippituser.tv" />
				<data android:host="www.clippituser.tv" />

				<data android:host="pornhub.com" />
				<data android:host="www.pornhub.com" />
				<data android:host="m.pornhub.com" />

				<data android:host="xvideos.com" />
				<data android:host="www.xvideos.com" />
				<data android:host="m.xvideos.com" />

				<data android:host="spankbang.com" />
				<data android:host="www.spankbang.com" />
				<data android:host="la.spankbang.com" />
				<data android:host="*.spankbang.com" />

				<data android:host="youporn.com" />
				<data android:host="www.youporn.com" />
				<data android:host="m.youporn.com" />

				<data android:host="redtube.com" />
				<data android:host="www.redtube.com" />
				<data android:host="m.redtube.com" />

				<data android:host="tube8.com" />
				<data android:host="www.tube8.com" />
				<data android:host="m.tube8.com" />

				<data android:host="porntube.com" />
				<data android:host="www.porntube.com" />
				<data android:host="m.porntube.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="flickr.com" />
				<data android:host="www.flickr.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/photos/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />


				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:host="xhamster.com" />
				<data android:host="www.xhamster.com" />
				<data android:host="m.xhamster.com" />

				<data android:pathPattern="/videos/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />


				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:host="xnxx.com" />
				<data android:host="www.xnxx.com" />
				<data android:host="m.xnxx.com" />

				<data android:pathPattern="/video.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="giphy.com" />
				<data android:host="www.giphy.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/gifs/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="erome.com" />
				<data android:host="www.erome.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/a/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="imgflip.com" />
				<data android:host="www.imgflip.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/i/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="*.deviantart.com" />
				<data android:host="deviantart.com" />
				<data android:host="www.deviantart.com" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/art/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="*" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:scheme="file" />
				<data android:scheme="content"/>

				<data android:pathPattern=".*\\.jpg" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*.jpg" />
				<data android:pathPattern=".*..*.jpg" />
				<data android:pathPattern=".*.jpg" />

				<data android:pathPattern=".*\\.jpg:large" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg:large" />
				<data android:pathPattern=".*..*..*..*..*.jpg:large" />
				<data android:pathPattern=".*..*..*..*.jpg:large" />
				<data android:pathPattern=".*..*..*.jpg:large" />
				<data android:pathPattern=".*..*.jpg:large" />
				<data android:pathPattern=".*.jpg:large" />

				<data android:pathPattern=".*\\.jpg:medium" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg:medium" />
				<data android:pathPattern=".*..*..*..*..*.jpg:medium" />
				<data android:pathPattern=".*..*..*..*.jpg:medium" />
				<data android:pathPattern=".*..*..*.jpg:medium" />
				<data android:pathPattern=".*..*.jpg:medium" />
				<data android:pathPattern=".*.jpg:medium" />

				<data android:pathPattern=".*\\.jpg:small" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg:small" />
				<data android:pathPattern=".*..*..*..*..*.jpg:small" />
				<data android:pathPattern=".*..*..*..*.jpg:small" />
				<data android:pathPattern=".*..*..*.jpg:small" />
				<data android:pathPattern=".*..*.jpg:small" />
				<data android:pathPattern=".*.jpg:small" />

				<data android:pathPattern=".*\\.jpeg" />
				<data android:pathPattern=".*..*..*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*.jpeg" />
				<data android:pathPattern=".*..*.jpeg" />
				<data android:pathPattern=".*.jpeg" />
				
				<data android:pathPattern=".*\\.png" />
				<data android:pathPattern=".*..*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*.png" />
				<data android:pathPattern=".*..*..*.png" />
				<data android:pathPattern=".*..*.png" />
				<data android:pathPattern=".*.png" />

				<data android:pathPattern=".*\\.png:large" />
				<data android:pathPattern=".*..*..*..*..*..*.png:large" />
				<data android:pathPattern=".*..*..*..*..*.png:large" />
				<data android:pathPattern=".*..*..*..*.png:large" />
				<data android:pathPattern=".*..*..*.png:large" />
				<data android:pathPattern=".*..*.png:large" />
				<data android:pathPattern=".*.png:large" />

				<data android:pathPattern=".*\\.png:medium" />
				<data android:pathPattern=".*..*..*..*..*..*.png:medium" />
				<data android:pathPattern=".*..*..*..*..*.png:medium" />
				<data android:pathPattern=".*..*..*..*.png:medium" />
				<data android:pathPattern=".*..*..*.png:medium" />
				<data android:pathPattern=".*..*.png:medium" />
				<data android:pathPattern=".*.png:medium" />

				<data android:pathPattern=".*\\.png:small" />
				<data android:pathPattern=".*..*..*..*..*..*.png:small" />
				<data android:pathPattern=".*..*..*..*..*.png:small" />
				<data android:pathPattern=".*..*..*..*.png:small" />
				<data android:pathPattern=".*..*..*.png:small" />
				<data android:pathPattern=".*..*.png:small" />
				<data android:pathPattern=".*.png:small" />

				<data android:pathPattern=".*\\.gif" />
				<data android:pathPattern=".*..*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*.gif" />
				<data android:pathPattern=".*..*.gif" />
				<data android:pathPattern=".*.gif" />

				<data android:pathPattern=".*\\.gif:large" />
				<data android:pathPattern=".*..*..*..*..*..*.gif:large" />
				<data android:pathPattern=".*..*..*..*..*.gif:large" />
				<data android:pathPattern=".*..*..*..*.gif:large" />
				<data android:pathPattern=".*..*..*.gif:large" />
				<data android:pathPattern=".*..*.gif:large" />
				<data android:pathPattern=".*.gif:large" />

				<data android:pathPattern=".*\\.gif:medium" />
				<data android:pathPattern=".*..*..*..*..*..*.gif:medium" />
				<data android:pathPattern=".*..*..*..*..*.gif:medium" />
				<data android:pathPattern=".*..*..*..*.gif:medium" />
				<data android:pathPattern=".*..*..*.gif:medium" />
				<data android:pathPattern=".*..*.gif:medium" />
				<data android:pathPattern=".*.gif:medium" />

				<data android:pathPattern=".*\\.gif:small" />
				<data android:pathPattern=".*..*..*..*..*..*.gif:small" />
				<data android:pathPattern=".*..*..*..*..*.gif:small" />
				<data android:pathPattern=".*..*..*..*.gif:small" />
				<data android:pathPattern=".*..*..*.gif:small" />
				<data android:pathPattern=".*..*.gif:small" />
				<data android:pathPattern=".*.gif:small" />

				<data android:pathPattern=".*\\.webp" />
				<data android:pathPattern=".*..*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*.webp" />
				<data android:pathPattern=".*..*.webp" />
				<data android:pathPattern=".*.webp" />

				<data android:pathPattern=".*\\.mp4" />
				<data android:pathPattern=".*..*..*..*..*..*.mp4" />
				<data android:pathPattern=".*..*..*..*..*.mp4" />
				<data android:pathPattern=".*..*..*..*.mp4" />
				<data android:pathPattern=".*..*..*.mp4" />
				<data android:pathPattern=".*..*.mp4" />
				<data android:pathPattern=".*.mp4" />

				<data android:pathPattern=".*\\.avi" />
				<data android:pathPattern=".*..*..*..*..*..*.avi" />
				<data android:pathPattern=".*..*..*..*..*.avi" />
				<data android:pathPattern=".*..*..*..*.avi" />
				<data android:pathPattern=".*..*..*.avi" />
				<data android:pathPattern=".*..*.avi" />
				<data android:pathPattern=".*.avi" />

				<data android:pathPattern=".*\\.flv" />
				<data android:pathPattern=".*..*..*..*..*..*.flv" />
				<data android:pathPattern=".*..*..*..*..*.flv" />
				<data android:pathPattern=".*..*..*..*.flv" />
				<data android:pathPattern=".*..*..*.flv" />
				<data android:pathPattern=".*..*.flv" />
				<data android:pathPattern=".*.flv" />
				
				<data android:pathPattern=".*\\.mkv" />
				<data android:pathPattern=".*..*..*..*..*..*.mkv" />
				<data android:pathPattern=".*..*..*..*..*.mkv" />
				<data android:pathPattern=".*..*..*..*.mkv" />
				<data android:pathPattern=".*..*..*.mkv" />
				<data android:pathPattern=".*..*.mkv" />
				<data android:pathPattern=".*.mkv" />

				<data android:pathPattern=".*\\.webm" />
				<data android:pathPattern=".*..*..*..*..*..*.webm" />
				<data android:pathPattern=".*..*..*..*..*.webm" />
				<data android:pathPattern=".*..*..*..*.webm" />
				<data android:pathPattern=".*..*..*.webm" />
				<data android:pathPattern=".*..*.webm" />
				<data android:pathPattern=".*.webm" />

				<data android:pathPattern=".*\\.m3u8" />
				<data android:pathPattern=".*..*..*..*..*..*.m3u8" />
				<data android:pathPattern=".*..*..*..*..*.m3u8" />
				<data android:pathPattern=".*..*..*..*.m3u8" />
				<data android:pathPattern=".*..*..*.m3u8" />
				<data android:pathPattern=".*..*.m3u8" />
				<data android:pathPattern=".*.m3u8" />

				<data android:pathPattern=".*\\.mpd" />
				<data android:pathPattern=".*..*..*..*..*..*.mpd" />
				<data android:pathPattern=".*..*..*..*..*.mpd" />
				<data android:pathPattern=".*..*..*..*.mpd" />
				<data android:pathPattern=".*..*..*.mpd" />
				<data android:pathPattern=".*..*.mpd" />
				<data android:pathPattern=".*.mpd" />

				<data android:pathPattern=".*\\.ism" />
				<data android:pathPattern=".*..*..*..*..*..*.ism" />
				<data android:pathPattern=".*..*..*..*..*.ism" />
				<data android:pathPattern=".*..*..*..*.ism" />
				<data android:pathPattern=".*..*..*.ism" />
				<data android:pathPattern=".*..*.ism" />
				<data android:pathPattern=".*.ism" />

				<data android:pathPattern=".*\\.JPG" />
				<data android:pathPattern=".*..*..*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*.JPG" />
				<data android:pathPattern=".*..*.JPG" />
				<data android:pathPattern=".*.JPG" />

				<data android:pathPattern=".*\\.JPEG" />
				<data android:pathPattern=".*..*..*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*.JPEG" />
				<data android:pathPattern=".*..*.JPEG" />
				<data android:pathPattern=".*.JPEG" />

				<data android:pathPattern=".*\\.PNG" />
				<data android:pathPattern=".*..*..*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*.PNG" />
				<data android:pathPattern=".*..*.PNG" />
				<data android:pathPattern=".*.PNG" />

				<data android:pathPattern=".*\\.GIF" />
				<data android:pathPattern=".*..*..*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*.GIF" />
				<data android:pathPattern=".*..*.GIF" />
				<data android:pathPattern=".*.GIF" />

				<data android:pathPattern=".*\\.WEBP" />
				<data android:pathPattern=".*..*..*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*.WEBP" />
				<data android:pathPattern=".*..*.WEBP" />
				<data android:pathPattern=".*.WEBP" />

				<data android:pathPattern=".*\\.MP4" />
				<data android:pathPattern=".*..*..*..*..*..*.MP4" />
				<data android:pathPattern=".*..*..*..*..*.MP4" />
				<data android:pathPattern=".*..*..*..*.MP4" />
				<data android:pathPattern=".*..*..*.MP4" />
				<data android:pathPattern=".*..*.MP4" />
				<data android:pathPattern=".*.MP4" />
				
				<data android:pathPattern=".*\\.AVI" />
				<data android:pathPattern=".*..*..*..*..*..*.AVI" />
				<data android:pathPattern=".*..*..*..*..*.AVI" />
				<data android:pathPattern=".*..*..*..*.AVI" />
				<data android:pathPattern=".*..*..*.AVI" />
				<data android:pathPattern=".*..*.AVI" />
				<data android:pathPattern=".*.AVI" />

				<data android:pathPattern=".*\\.FLV" />
				<data android:pathPattern=".*..*..*..*..*..*.FLV" />
				<data android:pathPattern=".*..*..*..*..*.FLV" />
				<data android:pathPattern=".*..*..*..*.FLV" />
				<data android:pathPattern=".*..*..*.FLV" />
				<data android:pathPattern=".*..*.FLV" />
				<data android:pathPattern=".*.FLV" />

				<data android:pathPattern=".*\\.MKV" />
				<data android:pathPattern=".*..*..*..*..*..*.MKV" />
				<data android:pathPattern=".*..*..*..*..*.MKV" />
				<data android:pathPattern=".*..*..*..*.MKV" />
				<data android:pathPattern=".*..*..*.MKV" />
				<data android:pathPattern=".*..*.MKV" />
				<data android:pathPattern=".*.MKV" />

				<data android:pathPattern=".*\\.WEBM" />
				<data android:pathPattern=".*..*..*..*..*..*.WEBM" />
				<data android:pathPattern=".*..*..*..*..*.WEBM" />
				<data android:pathPattern=".*..*..*..*.WEBM" />
				<data android:pathPattern=".*..*..*.WEBM" />
				<data android:pathPattern=".*..*.WEBM" />
				<data android:pathPattern=".*.WEBM" />

				<data android:pathPattern=".*\\.M3U8" />
				<data android:pathPattern=".*..*..*..*..*..*.M3U8" />
				<data android:pathPattern=".*..*..*..*..*.M3U8" />
				<data android:pathPattern=".*..*..*..*.M3U8" />
				<data android:pathPattern=".*..*..*.M3U8" />
				<data android:pathPattern=".*..*.M3U8" />
				<data android:pathPattern=".*.M3U8" />

				<data android:pathPattern=".*\\.MPD" />
				<data android:pathPattern=".*..*..*..*..*..*.MPD" />
				<data android:pathPattern=".*..*..*..*..*.MPD" />
				<data android:pathPattern=".*..*..*..*.MPD" />
				<data android:pathPattern=".*..*..*.MPD" />
				<data android:pathPattern=".*..*.MPD" />
				<data android:pathPattern=".*.MPD" />

				<data android:pathPattern=".*\\.ISM" />
				<data android:pathPattern=".*..*..*..*..*..*.ISM" />
				<data android:pathPattern=".*..*..*..*..*.ISM" />
				<data android:pathPattern=".*..*..*..*.ISM" />
				<data android:pathPattern=".*..*..*.ISM" />
				<data android:pathPattern=".*..*.ISM" />
				<data android:pathPattern=".*.ISM" />

			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="file"/>
				<data android:scheme="content"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:mimeType="video/*"/>
				<data android:mimeType="audio/*"/>
				<data android:mimeType="image/*"/>
				<data android:mimeType="*/avi"/>
				<data android:mimeType="*/mkv"/>
				<data android:mimeType="application/mp4"/>
				<data android:mimeType="application/mpeg*"/>
				<data android:mimeType="application/x-extension-mp4"/>
				<data android:mimeType="application/x-matroska"/>
				<data android:mimeType="application/x-mpegurl"/>
			</intent-filter>

        </activity>

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.ImgurAlbumGalleryViewer"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeFull" />

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.AlbumPagerActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeFull" />

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.SettingsView"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeSettings" />

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.TutorialActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeNoActionBar" />
	</application>
</manifest>
