<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imgurviewer" >

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		android:name="com.ensoft.imgurviewer.App">
        <activity
            android:name="com.ensoft.imgurviewer.view.activity.ImageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeFull" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="imgur.com" />
				<data android:host="i.imgur.com" />
				<data android:host="m.imgur.com" />

				<data android:host="reddituploads.com" />
				<data android:host="i.reddituploads.com" />

				<data android:host="streamable.com" />

				<data android:host="gyazo.com" />

				<data android:host="gfycat.com" />

				<data android:host="clips.twitch.tv" />

				<data android:host="instagram.com" />
				<data android:host="www.instagram.com" />

				<data android:host="vid.me" />

				<data android:scheme="https" />
				<data android:scheme="http" />

				<data android:pathPattern="/.*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="*" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:scheme="file" />

				<data android:pathPattern=".*\\.jpg" />
				<data android:pathPattern=".*..*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*..*.jpg" />
				<data android:pathPattern=".*..*..*.jpg" />
				<data android:pathPattern=".*..*.jpg" />
				<data android:pathPattern=".*.jpg" />

				<data android:pathPattern=".*\\.jpeg" />
				<data android:pathPattern=".*..*..*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*..*.jpeg" />
				<data android:pathPattern=".*..*..*.jpeg" />
				<data android:pathPattern=".*..*.jpeg" />
				<data android:pathPattern=".*.jpeg" />
				
				<data android:pathPattern=".*\\.png" />
				<data android:pathPattern=".*..*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*..*.png" />
				<data android:pathPattern=".*..*..*..*.png" />
				<data android:pathPattern=".*..*..*.png" />
				<data android:pathPattern=".*..*.png" />
				<data android:pathPattern=".*.png" />

				<data android:pathPattern=".*\\.gif" />
				<data android:pathPattern=".*..*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*..*.gif" />
				<data android:pathPattern=".*..*..*.gif" />
				<data android:pathPattern=".*..*.gif" />
				<data android:pathPattern=".*.gif" />

				<data android:pathPattern=".*\\.webp" />
				<data android:pathPattern=".*..*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*..*.webp" />
				<data android:pathPattern=".*..*..*.webp" />
				<data android:pathPattern=".*..*.webp" />
				<data android:pathPattern=".*.webp" />

				<data android:pathPattern=".*\\.JPG" />
				<data android:pathPattern=".*..*..*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*..*.JPG" />
				<data android:pathPattern=".*..*..*.JPG" />
				<data android:pathPattern=".*..*.JPG" />
				<data android:pathPattern=".*.JPG" />

				<data android:pathPattern=".*\\.JPEG" />
				<data android:pathPattern=".*..*..*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*..*.JPEG" />
				<data android:pathPattern=".*..*..*.JPEG" />
				<data android:pathPattern=".*..*.JPEG" />
				<data android:pathPattern=".*.JPEG" />

				<data android:pathPattern=".*\\.PNG" />
				<data android:pathPattern=".*..*..*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*..*.PNG" />
				<data android:pathPattern=".*..*..*.PNG" />
				<data android:pathPattern=".*..*.PNG" />
				<data android:pathPattern=".*.PNG" />

				<data android:pathPattern=".*\\.GIF" />
				<data android:pathPattern=".*..*..*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*..*.GIF" />
				<data android:pathPattern=".*..*..*.GIF" />
				<data android:pathPattern=".*..*.GIF" />
				<data android:pathPattern=".*.GIF" />

				<data android:pathPattern=".*\\.WEBP" />
				<data android:pathPattern=".*..*..*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*..*.WEBP" />
				<data android:pathPattern=".*..*..*.WEBP" />
				<data android:pathPattern=".*..*.WEBP" />
				<data android:pathPattern=".*.WEBP" />
			</intent-filter>
        </activity>

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.ImgurAlbumGalleryViewer"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeFull" />

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.SettingsView"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeSettings" />

		<activity
			android:name="com.ensoft.imgurviewer.view.activity.TutorialActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/AppThemeNoActionBar" />
	</application>
</manifest>
